[2019-01-27 22:31] stringbeans opened #5 "separate config for service name"
It looks as though this orb has a requirement for the service name and task definition name to be the same... for example, if i set `family` to `demo-web` then it will assume that both the service AND task definition is named `demo-web`

is there currently any way to separate it?

[2019-01-30 00:39] wjbabicz commented on #5
Also having this issue. I provision my ECS resources using a Terraform module that creates a service name different from the container and task definition names.

[2019-01-30 21:18] iynere commented on #5
@lokst can you take a look at this ? if not, i can 🙏

otherwise, feel free to submit a PR @stringbeans @wjbabicz, don't think it should be too hard to separate those out

[2019-01-30 21:49] stringbeans commented on #5
@iynere i dont mind submitting a PR but just to warn you i may need help with writing tests for this! :)

[2019-01-30 21:52] stringbeans commented on #5
@wjbabicz workaround for now is to use circleci's CLI tool and run `circleci config process <config.yml>` to essentially convert your original yml with orb calls into "standard" circleci yml...

from that point you can manually change certain lines to be whatever you need

... just out of curiousity, what terraform module are you using? i ran into this using airship's terraform modules

[2019-01-30 21:54] iynere commented on #5
heh, don't worry about it @stringbeans 🙂

my basic testing approach is, for any new functionality, make sure that functionality is replicated in the [integration testing workflow](https://github.com/CircleCI-Public/aws-ecs-orb/blob/41219d7a35facbcaea05eb97cefda79480ef925b/.circleci/config.yml#L393)

that said, this orb is more complex than most, so if you submit a PR with just the orb source code

[2019-01-30 22:37] wjbabicz commented on #5
appreciate the workaround @stringbeans ! that did the trick.

 i'm using trussworks/ecs-service/aws for the service/initial task def + another one of their modules for the alb creation.

i'll try my best at a PR, just very green with orbs at the moment!

[2019-01-31 21:54] rv-mobrien commented on #5
Hi guys, I was having the same issue so I ended up just publishing a new orb with this change. Check it out at https://circleci.com/orbs/registry/orb/rvla/aws-ecs

[2019-01-31 21:57] iynere commented on #5
awesome ! @rv-mobrien we'll take a look and possibly use it to improve ours

always feel free to submit a PR to our repos rather than build your own, though (although building your own is awesome, too!)

[2019-02-06 18:19] lokst commented on #5
Resolved by https://github.com/CircleCI-Public/aws-ecs-orb/pull/6

[2019-02-06 18:19] #5 closed

[2019-03-04 08:31] ganezasan opened #9 "missing `$` at the beginning of the environment variables"
If we put some `aws` properties as below script, it doesn't set `$` at the beginning of the environment variables.  It seems [aws-ecr/build_and_push_image](https://github.com/CircleCI-Public/aws-ecr-orb) can set the environment variables without `$`. I think it's better to be able to set environment variables the same way.

[code]
↓
[code]

[2019-03-08 00:08] jeffnappi opened #10 "Support launching single task"
I would like to use this to be able to kick off a single ECS task. And then preferably retrieve the exit code and logs from the task.

[2019-03-08 00:09] jeffnappi opened #11 "Support updating a task definition separate from a service"
I would like to be able to update a task definition separate from a service. This would be used in conjunction with executing a single task in #10

[2019-03-13 21:45] lokst commented on #10
Hi @jeffnappi , that's a great suggestion, I'll be looking into this.

[2019-03-14 17:15] jeffnappi commented on #10
Awesome @lokst :)

An example scenario would be to run database migrations in an ECS task as part of a release.

[2019-03-18 17:09] jeffnappi commented on #10
Any progress here @lokst? I might fork and tackle it myself - I have a need for this now.

[2019-03-28 06:43] #11 closed

[2019-03-29 18:54] stringbeans opened #13 "Cannot dynamically inject in env variables"
Hey there!

We want to inject environment variables into the **job** deploy-service-update or the **command** update-task-definition

the problem is that circleCI doesnt properly support passing environment variables between different steps of a job... and we currently fetch our environment variables from AWS param store.

it would be really cool if for **update-task-definition** you could do some

[2019-03-31 23:07] lokst commented on #13
Hi @stringbeans , thanks for raising this! I believe that using BASH_ENV would enable the passing of environment variables between different steps of a job. This part of the CircleCI documentation has more details on what I'm referring to: https://circleci.com/docs/2.0/env-vars/#using-bash_env-to-set-environment-variables

[2019-03-31 23:08] lokst commented on #9
Thanks @ganezasan , I'll look into this!

[2019-03-31 23:10] lokst commented on #10
@jeffnappi I haven't been able to make progress on this yet. We would welcome PR contributions if you have any! :)

[2019-04-12 03:01] stringbeans commented on #13
thanks @lokst ! this was useful :)

[2019-04-12 03:01] #13 closed

[2019-04-12 03:06] stringbeans opened #14 "Why the restriction on container-env-var-updates?"
Hi again!

Just curious why when using `container-env-var-updates` it **only** updates the environment variables defined in the previous task definition. I believe that we can inject new environment variables regardless of whether they were defined previously.. (correct me if im wrong)

I'm trying to understand the rationale behind this. Would your team be open to removing the restriction?

[2019-04-12 04:31] lokst commented on #14
Hi @stringbeans ! This was a constraint applied during the initial development of the orb to make it easy to understand what the command does, but we are open to removing it as I don't think it will cause much unexpected results for current usages.

[2019-04-12 16:13] stringbeans commented on #14
@lokst awesome! ill take a crack at the change and submit a PR? or do you guys have the bandwidth to handle it?

[2019-04-12 16:48] lokst commented on #14
@stringbeans It would be awesome if you could submit a PR for this! I would be happy to review it :)

[2019-04-12 19:01] stringbeans commented on #14
@lokst sorry to bug you, but could you provide me with instructions on how to run the tests? specifically, i want to run `test_update_container_definitions.py`

im a bit unfamiliar with python so any information would help :) thanks so much

[2019-04-21 11:01] lokst commented on #14
Closing this issue as it's been resolved in version 0.0.8 of the orb (See: https://github.com/CircleCI-Public/aws-ecs-orb/pull/15)

[2019-04-21 11:01] #14 closed

[2019-05-08 14:20] restlessbit opened #16 "Error parsing parameter '--container-definitions': Expected: '=', received: 'EOF' for input:"
Hello,

I'm running into trouble when using the `update-task-definition` command. I keep getting this error, and I'm having a hard time figuring out why:

[code]

Here's how I'm using the command in my `config.yml`:

[code]

And here's the task definition that I'm trying to update:

[code]

Any help would be much appreciated!

P.S. This is a dope orb.

[2019-05-08 15:38] iynere commented on #16
hmmmm, it's not supposed to be `--container-definitions=$VALUE` instead of `--container-definitions $VALUE`, is it ? @restlessbit

@lokst do you have thoughts ?

[2019-05-08 16:46] lokst commented on #16
@iynere It looks like there may have been some issue with the value of ${CCI_ORB_AWS_ECS_CONTAINER_DEFS} that was created by the orb , I think it would be good if we could take a look at the job

@restlessbit Could you open a support ticket at https://support.circleci.com/hc/en-us/requests/new and include a link to the CircleCI job that had failed, so that we can investigate further?

[2019-05-08 17:19] restlessbit commented on #16
@lokst Thank you! Just created a ticket.

[2019-05-22 04:20] lokst opened #18 "Single quotes in task definition are not supported"
Refer to https://github.com/CircleCI-Public/aws-ecs-orb/issues/16 for an example of the error that will result when using the `update-task-definition` command when the existing task definition contains a single quote.

[2019-05-22 04:22] lokst commented on #16
Thanks @restlessbit for working with us on this. Closing this issue as we have found the cause of the error and a workaround (remove single quote).
Opened https://github.com/CircleCI-Public/aws-ecs-orb/issues/18 to track work for a fix on this.

[2019-05-22 04:22] #16 closed

[2019-05-22 14:08] restlessbit commented on #16
@lokst 🙏 Thank you for the help!! 🙏

[2019-06-01 13:43] BRafols opened #20 "Allow --cli-input-json in update-task-definition"
My previous setup in Jenkins would always use `aws ecs register-task-definition` with the `--cli-input-json` parameter to update the previous task definition.

Would be nice if this orb allows for that option as well.

[2019-06-03 18:22] iynere commented on #20
@BRafols hmm, it seems like all that flag does is change how you would format the parameter input to `register-task-definition`.... but our orb already parameterizes that command—instead of running `register-task-definition` at all, you just run `aws-ecs/update-service` & pass it parameters that way. so, what exactly would be the benefit here ?

[2019-06-04 08:24] BRafols commented on #20
In my case I have a `.json` file which contains all the task definitions for a `service`. It allows me to have a greater view of how my service tasks are configured.

I would like to keep it that way, as it seems much cleaner to me. This is my example `.json` file.

[code]
I prefer to just re-register this task definition than to pass every configuration through a parameter to `update-service`.

I

[2019-06-04 14:09] lokst commented on #20
@BRafols Thanks for explaining your use case! We'll be considering adding support for this.

[2019-06-04 14:26] BRafols commented on #20
Thanks to you!

Awesome job!

[2019-06-10 03:15] thedanielforum opened #21 "Not passing region flag in `aws ecs describe-task-definition` command"
Hi,
I am having an issue where it can't find the task definition because the `--region` is missing in the `PREVIOUS_TASK_DEFINITION` command.
I have already set the `aws-region` option and the `AWS_DEFAULT_REGION` env variable options but with no luck.

Would appreciate some help with this one.

[code]

[2019-06-10 03:37] lokst commented on #21
Hi, could you also try configuring the AWS_REGION project environment variable as the orb uses that by default? If that doesn't work could you open a support ticket at https://support.circleci.com/hc/en-us/requests/new and include a link to your build so that we can take a closer look?

[2019-06-10 14:17] ascension opened #22 "Cannot find a definition for command named aws-ecs/deploy-service-update"
I am getting this error when trying to use `aws-ecs/deploy-service-update`
`Cannot find a definition for command named aws-ecs/deploy-service-update`

Whats weird is that I can use `aws-ecs/update-service` but none of the jobs in the `aws-ecs` orb are available...

[code]

[2019-06-10 14:29] iynere commented on #22
@ascension might help if you could post your full config.yml, or a link to the job where you're seeing this—the syntax in the snippet you posted looks wonky but it may just be due to how you pasted it

[2019-06-10 14:37] ascension commented on #22
@iynere - I updated the OP with the full `config.yml`. I am using the `circleci` cli tool to validate and everything works until I add the `aws-ecs` orb and add `aws-ecs/deploy-service-update`

[2019-06-10 14:39] iynere commented on #22
oh i see, so you are defining an inline orb, which calls this orb ? is that correct ? is there a reason you're doing it that way ? would likely be easier to just call the `aws-ecs` & `aws-ecr` orbs directly

[2019-06-10 14:45] ascension commented on #22
@iynere I could try calling it directly, but I am doing the same thing with `build-image` and it is able to use `aws-ecr/build-and-push-image` with no issues.

[2019-06-10 15:23] iynere commented on #22
@ascension `deploy-service-update` is a job, not a command:

https://circleci.com/orbs/registry/orb/circleci/aws-ecs

[2019-06-10 15:23] #22 closed

[2019-06-13 11:30] ozooxo commented on #21
This is because `aws-cli/install` and `aws-cli/configure` are not part of the command. You need to include them yourself. As shown in the example:

[code]

Notice that this is NOT consistent with https://circleci.com/orbs/registry/orb/circleci/aws-s3 and https://circleci.com/orbs/registry/orb/circleci/aws-ecr for which they are part of the command.

[2019-06-13 13:24] lokst commented on #21
Thanks @ozooxo! Yes, the aws-ecs orb's jobs initialize the aws cli but the commands do not.
@thedanielforum Are you still having issues with the orb?

[2019-06-18 06:13] siassaj commented on #22
@iynere I'm trying to use this job twice in one workflow, to push to staging or production (both using type: approval)

I also tried to run this as a command so that the job names would be more distinct. Is there a way to run the job under a different name?

[2019-06-18 07:30] lokst commented on #22
Hi @siassaj you can specify a name for a job with the `name` key: https://circleci.com/docs/2.0/reusing-config/#invoking-the-same-job-multiple-times

Does this help?

[2019-06-19 02:27] thedanielforum commented on #21
Thanks for the quick reply everyone!
@ozooxo this did the trick for me!
@lokst Nope, ozooxo solution worked!

Thanks for the help!

[2019-06-19 02:27] #21 closed

[2019-06-26 14:30] sjsadowski opened #23 "Failure to retrieve previous task"
When updating a task the previous task definition is not found.

Unfortunately the output is not very helpful, and all that I get (aside from python) in the result is:
[code]

[2019-06-26 14:37] lokst commented on #23
@sjsadowski Could you link to a build where this is happening?

[2019-06-26 14:48] sjsadowski commented on #23
Closing. Typo in config.yml

[2019-06-26 14:48] #23 closed

[2019-07-11 23:25] jrkienle commented on #10
Hey! This is definitely a feature I'd be interested in - has there been any progress on it so far?

[2019-07-12 02:38] martinbjeldbak commented on #10
We'd be very interested in this feature too! Until then, I've hacked together the below job. Note that it assumes some environment variables are set within CircleCI.

It doesn't have any sense of whether the task completed successfully or not, similar to the `verify-revision-is-deployed` command

[code]

[2019-07-12 04:09] lokst commented on #10
Unfortunately this is still in my backlog. Hence PR contributions are much welcomed. Thank you @martinbjeldbak for sharing this, it looks like a good reference! 😃

[2019-07-16 03:37] chrisbloemker commented on #18
Is there a fix for this? I'm having trouble, maybe it's on my end.

The command in my `config.yml`

[code]

Resulting in the following error:
[code]

My guess is it's failing on that last export to `$BASH_ENV` ?

[2019-07-16 04:36] lokst commented on #18
Hi @chrisbloemker , yes, currently the `$BASH_ENV` cannot be sourced properly when there is a single quote in the task definition. Work on a fix for this is still in the backlog; is it feasible for you to check your task definition and remove single quote values found? Examples of where they could be found: passwords in connection URLs

[2019-07-16 07:23] egyptianbman commented on #20
Yes please! The current implementation makes the assumption that the whole task definition is static other than the image and tag. In our use case, we have one family per application and swap out the awslogs-group amount other things based on the branch -- which isn't possible with the current implementation.

[2019-07-16 14:15] chrisbloemker commented on #18
@lokst Thank you for the quick reply, is this something I would be able to find in the ecs task definition json?

[2019-07-16 14:16] chrisbloemker commented on #18
Oh now I can see that a randomly generated password had a single quote for the value from an environment variable, I'm guessing that's it.. Will fix and rerun the build :)

[2019-07-23 09:40] dylansmith opened #24 "Warn if container is not specified in container-image-name-updates"
We recently saw an issue where `aws-ecs/deploy-service-update` was not updating the image tag in our task definition. After some debugging, we found the cause was that we were not specifying the container in `container-image-name-updates`.

Our config was:

[code]

Building with this configuration succeeded, but it was effectively a no-op and simply cloned the previous task definition. Since `cont

[2019-07-23 09:54] lokst commented on #24
Thanks for reporting this @dylansmith! We will look into it.

[2019-07-25 12:46] prurph opened #25 "Functionality to unset container env vars?"
Do you think it would be appropriate for this orb to have a command to unset environment variables, or perhaps a way to pass an option to the existing `container-env-var-updates` to remove any env vars not specified in the update clause? Thanks! Big fan of this orb.

[2019-07-26 02:22] lokst commented on #25
Hi @prurph, I think it would be a nice enhancement. Perhaps an additional parameter (set to false by default) that when enabled, removes any env vars not specified in the update clause, would be good. I'll file this in our backlog but PRs are also welcomed! So happy to hear that you are liking the orb 😃

[2019-07-31 09:53] sandangel opened #28 "bug: update-service does not update image tag"
[code]

[code]

[code]

as you can see the image tag didn't change

[code]

[2019-07-31 18:34] marcinkepa opened #29 "aws-ecs/deploy-service-update job clears the task definition app mesh proxy settings"
Task definition before running the job:

[code]

Task definition after running the job:

[code]

proxyConfiguration is missing after the task definition is being updated by the job.

[2019-08-01 04:09] lokst commented on #28
Thanks @sandangel I'll look into this

[2019-08-01 04:10] lokst commented on #29
Thanks for the report @marcinkepa, I'll look into this

[2019-08-01 09:10] lokst commented on #28
@sandangel it looks like you might be missing the container name in the `container-image-name-updates` parameter; I believe it should be: `container=z-admin-qa1,tag=feature-visualize-request-health-7b3af6b`. Could you give it a try?

[2019-08-01 10:29] lokst commented on #29
@marcinkepa It would be really helpful if I could have a closer look at the configuration. Would you mind opening a support ticket at https://support.circleci.com/hc/en-us/requests/new , and attaching a copy of the config.yml used and also linking to the failed CircleCI job?

[2019-08-01 12:46] marcinkepa commented on #29
@lokst I have opened the ticket (55115)

[2019-08-02 05:30] lokst opened #30 "proxyConfiguration, tags, pidMode and ipcMode are not copied to new task definition"
When making a new revision of an existing task definition, existing `proxyConfiguration`, `tags`, `pidMode` and `ipcMode` attribute values are not copied over to the new revision. `proxyConfiguration` seems to be a relatively recent task definition attribute not referenced in older versions (at least as old as 1.16.60) of the AWS CLI.

Reference: https://docs.aws.amazon.com/cli/latest/reference/ec

[2019-08-02 05:31] lokst commented on #29
Based on my findings, this is caused by https://github.com/CircleCI-Public/aws-ecs-orb/issues/30.

[2019-08-02 16:02] marcinkepa commented on #29
Solved in circleci/aws-ecs@0.0.10

[2019-08-02 16:02] #29 closed

[2019-08-02 18:14] lokst commented on #30
This is now fixed in version 0.0.10 of the orb.

[2019-08-02 18:14] #30 closed

[2019-08-03 21:44] sandangel commented on #28
@lokst oh I miss read the docs, thanks

[2019-08-03 21:44] #28 closed

[2019-08-28 09:37] bkovacev commented on #23
@sjsadowski Hi I'm running into this as well - could you please point me in the right direction?

[2019-08-29 16:27] enokawa opened #33 "Support Blue/Green Deployment"
I would like to use Blue/Green Deployment.
I tryied AWS ECS Orb(`circleci/aws-ecs@0.0.11`) but not supported [Blue/Green Deployment](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/deployment-type-bluegreen.html).

This is CircleCI Output.(`Update service with registered task definition`)
[code]

<img width="1561" alt="Update service with registered task definition" src="https://user-i

[2019-09-05 10:39] lokst commented on #33
@enokawa Thank you for bringing this to our attention! We'll have to look into this.

[2019-09-14 13:51] enokawa commented on #33
@lokst Thanks!! I'll challenge contribute to this project.
I made PR immediately #34 .

[2019-09-16 03:53] lokst commented on #33
@enokawa Thank you so much, this is so motivating!

[2019-09-29 20:54] codingdiaz commented on #10
@lokst, I was going to take a shot at this, at least the running of the task. I can also tackle a command to get status / logs of a task run.

[2019-09-30 08:16] lokst opened #36 "Upgrade integration test infra setup to be compatible with Terraform 0.12"
The integration tests in `.circleci/config.yml` currently need to be pinned to being run with the `hashicorp/terraform@sha256:330bef7401e02e757e6fa2de69f398fd29fcbfafe2a3b9e8f150486fbcd7915b` docker image (which uses Terraform 0.11)

It would be good to update the terraform files in https://github.com/CircleCI-Public/aws-ecs-orb/tree/master/tests/terraform_setup to be compatible with Terraform 0.1

[2019-09-30 11:51] ritvikgautam commented on #36
I was trying to take a look at this, but got the following 403:

[code]

[2019-09-30 19:58] PseudoNerd commented on #9
Can I take this up?

[2019-10-01 04:15] lokst commented on #9
@PseudoNerd Sure, do give it a go!

[2019-10-01 09:49] lokst commented on #36
@ritvikgautam This is likely due to the s3 backend used to persist the terraform state. Could you set up the s3 backend in the `tests/terraform_setup/state_init` directory first?

[2019-10-01 18:19] Xheno commented on #24
Currently working on this, however should it simply warn or fail if the container parameter is not set?

[2019-10-01 18:35] Xheno commented on #18
I'd like to take this up as well, simply escaping the all single quotes (for bash) in the container definitions should do the trick.

[2019-10-01 18:48] lokst commented on #18
@Xheno Thanks, that would be great! I'm not sure if it'll be tricky to escape the single quotes; it'd be awesome if the fix could be tested with a task definition containing a single quote!

[2019-10-01 18:49] lokst commented on #24
@Xheno I think it'd be good to fail

[2019-10-01 19:11] Xheno commented on #18
I'll test that it works before I make a PR.

[2019-10-01 22:52] lucasnad27 opened #41 "Support cross-account deploys"
## Problem

I'm using another [aws orb](https://circleci.com/orbs/registry/orb/holdaraffle/aws-assume-role) that enables me to assume another role with my circleci aws user. However, I was unable to deploy across multiple aws accounts, utilizing cross account roles with this orb.

## Proposed fix

Explicitly set the profile for all `aws ecs` commands and add an optional parameter called `profile-n

[2019-10-02 08:11] sameshl commented on #9
@ganezasan I would love to take this up. Could you tell where exactly this change needs to be done?
Thanks!

[2019-10-06 20:33] lokst commented on #33
Resolved by https://github.com/CircleCI-Public/aws-ecs-orb/pull/34 🎉

[2019-10-06 20:33] #33 closed

[2019-10-06 20:49] lokst commented on #41
@lucasnad27 Thank you so much for explaining this issue in such detail. Your solution sounds good and also potentially useful in other use cases. I'd love to receive your PR!

[2019-10-07 00:19] codingdiaz commented on #10
Hey @lokst, do you have any high level idea on how to get the logs from a task? I would love to tackle that aspect of this issue as well.

[2019-10-07 00:21] codingdiaz opened #48 "Readme Not Up to Date"
The current readme of this repo is not up to date with the latest release here: https://circleci.com/orbs/registry/orb/circleci/aws-ecs.

[2019-10-07 17:08] sameshl commented on #48
@codingdiaz I would love to take up this issue. Could you guide me on how I could proceed in this?

[2019-10-07 17:30] geektutor commented on #48
I would love to take this up.

[2019-10-07 21:08] ns61817 commented on #48
Let me know how I can help

[2019-10-08 03:12] lokst opened #51 "Env var expansion not supported in CodeDeploy load balanced container name"
Environment variables in the `codedeploy-load-balanced-container-name` parameter will not expand  , causing Blue/Green deployment type ECS service updates to fail if there are environment variables referenced in the parameter.

[2019-10-08 03:16] #51 closed

[2019-10-08 09:34] #36 closed

[2019-10-08 17:47] lokst commented on #10
@codingdiaz Are you referring to getting CloudWatch logs from containers using the `awslogs` log driver?

[2019-10-09 07:01] hungrybear88 commented on #48
@codingdiaz  done now ?

[2019-10-09 08:46] edorahayu opened #55 "aws-ecs-orb"
### Orb version

- aws-ecs/update-task-definition:
          family: 'api'
          container-image-name-updates: 'container=api-server,image-and-tag=${AWS_ECR_ACCOUNT_URL}/api:${CIRCLE_SHA1}'
### What happened

It looks like there may have been some issue with the value of ${CCI_ORB_AWS_ECS_CONTAINER_DEFS} that was created by the orb , I think it would be good if we could take a look at the job

[2019-10-09 09:27] lokst commented on #55
@edorahayu Would you be able to link to the CircleCI job where you encountered the issue, for greater clarity on the problem?

[2019-10-10 06:07] lucasnad27 commented on #41
Glad to hear. I hope to have one ready for review by the end of this week.

[2019-10-10 17:32] Sweta271097 commented on #48
@codingdiaz Is this still open?

[2019-10-11 13:37] codingdiaz commented on #48
Looks like

[2019-10-11 13:37] #48 closed

[2019-10-11 13:54] codingdiaz commented on #10
Yes, being able to essentially wait for a task being run. For example the run-task job could set an environment variable of the run and that could be used to poll the status and wait for a task to be completed and get the logs. I am thinking of a use case being database migrations that you might want to run before a deployment.

[2019-10-12 00:10] jeffnappi commented on #10
It might be sensible to use this tool for executing the task and collecting the log output: https://github.com/buildkite/ecs-run-task

[2019-10-12 08:21] lokst commented on #10
I have not looked much into this but the ecs cli might be an option too: https://docs.aws.amazon.com/AmazonECS/latest/developerguide/cmd-ecs-cli-logs.html

[2019-10-12 08:22] MrAfrazKhan opened #62 "update README.md for "Jobs" & "Commands"."
## What would you like to be added

There must be description of **Jobs** & **Commands** of this orb to understand functionality in better way.

## Why is this needed

Complete capabilities & features are not clear by seeing at current **README.md.**

[2019-10-17 02:56] lokst commented on #24
Resolved by #39

[2019-10-17 02:56] #24 closed

[2019-10-23 16:50] sanxy commented on #10
Thanks so much

[2019-10-23 18:32] raghavdhingra commented on #10
This looks good.

[2019-10-29 18:39] alekhrycaiko opened #75 "Force new deployment flag."
## What would you like to be added

the `aws ecs update-service` command accepts a `--force-new-deployment` flag or `--no-force-new-deployment` flag. I currently don't see this feature available in circle_ci docs for this orb under `update-service`. I'd like to be able to translate my current workflow commands directly into orbs; however the lack of this feature makes this difficult to do.

## Why

[2019-11-06 04:53] lokst commented on #75
@alekhrycaiko Thank you for your feedback! That sounds useful and I'd like to look into it soon.

[2019-11-06 04:56] #62 closed

[2019-11-18 05:04] lokst commented on #18
Resolved by @Xheno in https://github.com/CircleCI-Public/aws-ecs-orb/pulls/67 ! The bug fix is available in `circleci/aws-ecs@1.0.1`  🎉

[2019-11-18 05:04] #18 closed

[2019-11-20 10:21] yuichiro12 opened #78 "Please update CHANGELOG.md"
so that we can see the new features

[2019-11-20 11:00] lokst commented on #78
Definitely @yuichiro12 ! I'll update the changelog soon but I'd just like to let you know quickly as well that there haven't been any major feature changes since the last version listed in the changelog. The orb was recently bumped to a version 1 release to indicate stability, since the orb has been used in many builds.

[2019-11-20 11:41] yuichiro12 commented on #78
OK I see.

[2019-11-21 01:03] yuichiro12 opened #79 "support `--overrides` option in `run-task` job/command"
## What would you like to be added

support `--overrides` option in `run-task` job/command

## Why is this needed

so that we can reuse existing Task Definition

I believe this is not hard request. Thank you.

[2019-11-21 06:08] #78 closed

[2019-11-21 11:02] lokst commented on #79
@yuichiro12 Thank you for the suggestion! It sounds like a useful enhancement and we'll look into this.

[2019-11-26 06:55] MorrisonCole opened #82 "Support `ecs-cli compose` functionality"
## What would you like to be added

A new job to support [ecs-cli compose](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/cmd-ecs-cli-compose.html) functionality.

## Why is this needed

Parity with `ecs-cli` in order to easily migrate existing scripts.

[2019-11-28 09:15] lokst commented on #75
@alekhrycaiko Version `1.0.3` now has a `force-new-deployment` parameter to allow specifying `--force-new-deployment` to the `aws ecs update-service` command 🎉

[2019-11-28 09:15] #75 closed

[2019-11-28 09:20] lokst commented on #82
Thanks for the suggestion @MorrisonCole, we'll look into it!

[2019-11-28 21:48] #79 closed

[2019-11-28 22:16] lokst commented on #79
@yuichiro12 Version `1.0.4` of the orb which supports the `--overrides` option has been released 🙂

[2019-11-28 22:30] alekhrycaiko commented on #75
Great! Thanks for the update @lokst ! I appreciate the enhancement :)

[2019-12-09 04:08] yuichiro12 commented on #79
excellent!

[2019-12-09 05:37] yuichiro12 opened #85 "want `update-service` without doing `update-task-definition` step"
## What would you like to be added

Currently `update-service` always do `update-task-definition` before  updating service.
It's better to make this step optional.

## Why is this needed

For example, my use case is this:

1. run `update-task-definition`
2. run `run-task` using updated TaskDefinition to do database migration job, giving `override` option which specifies migration command.
3. run `

[2019-12-11 08:35] lokst commented on #85
@yuichiro12 It should be possible to add a parameter to make `update-task-definition` optional. I'll add this enhancement to our backlog. If anyone from the community wants to make a PR for this please let us know too 🙂

[2019-12-11 14:19] Xheno commented on #85
Hey @lokst I'll gladly look into this.

[2019-12-11 15:31] lokst commented on #85
@Xheno That would be awesome, thank you!

[2019-12-11 15:45] schaebo opened #86 "Register new task definition fails with "Error parsing parameter ...""
### Orb version

[code]

### What happened
With the following config.yml:
[code]

I get the following error:
[code]
For debugging purposes I tried:
* start the container with SSH
* put the script from the UI job output of "Register new task definition" into an .sh file
* source the BASH_ENV file and run the script

Example:
<details>
  <summary>Click to expand</summary>

 script.sh
[code]

command

[2019-12-11 16:59] lokst commented on #86
@schaebo Is it possible to try the job with a different image (e.g. `circleci/python:latest`)? I am wondering if the error is due to the Alpine image being used, as the orb is most compatible with a Bash shell environment.

[2019-12-11 17:24] schaebo commented on #86
@lokst : Thank you for the help, with another image it does work as expected.

[2019-12-11 17:24] #86 closed

[2019-12-18 18:23] alekhrycaiko opened #87 "No defaults for launch type on consumption of `run-task`"
## What would you like to be added

On ecs run-task, I'd like to have a launch-type configuration that has no default values.

Currently the ECS run-task CLI doesn't require this `launch-type` parameter by default. However, the orb implementation requires this, and defaults to a `Fargate` value - which doesn't make sense for users who use `EC2` launch types.

## Why is this needed

For users who u

[2019-12-18 18:30] alekhrycaiko commented on #87
I have a similar dilemma with the `awsvpc` setting being `true`. In my circumstances, I would prefer to not have this default to `true`; and would ideally like to set this manually if I were actually using this setting.

[2019-12-19 03:24] lokst commented on #87
Thanks for reporting this, we'll look into revising the defaults. In the meantime, there is an example of using `run-task` for EC2 launch types on https://circleci.com/orbs/registry/orb/circleci/aws-ecs#usage-run-task-ec2

[2020-01-07 21:42] michaelanthonymain opened #89 "asterisk in task definition replaced with update_container_defs"
### Orb version

version 1.0.4

### What happened

Used aws-ecs/update-service in a job to deploy a task definition with a `command` property. The service is a scheduler and takes a flag as an argument specifying a schedule in cron syntax, e.g. `-schedule="30 10 * * 4"`. When the task definition is updated in ecs, the `command` looks like this `-schedule="30 10 _update_container_defs.py.V2o99u _up

[2020-01-08 03:47] lokst commented on #89
@michaelanthonymain Thanks for reporting this! May I know if the `command` you are referring to is found in a container definition e.g.

[code]
If you could give an excerpt of the `command` array as specified in the task definition that would be really helpful for our tests!

[2020-01-08 14:31] michaelanthonymain commented on #89
@lokst Yea, no problem! It is in a `task_definition.json.tpl` file that looks like this:
[code]

[2020-01-09 15:07] michaelanthonymain commented on #89
Thank you!

[2020-01-13 03:44] lokst commented on #89
@michaelanthonymain Thank you for your patience; a fix for this has been released as `circleci/aws-ecs@1.0.5` 🙂

[2020-01-13 03:44] #89 closed

[2020-01-17 20:48] michaelanthonymain commented on #89
thank you, @lokst !

[2020-01-27 16:04] enokawa opened #93 "Support verify-revision-is-deployed command when deployment-controller is CODE_DEPLOY"
## What would you like to be added

Suport verify-revision-is-deployed command when `deployment-controller` parameter is CODE_DEPLOY.

Ref: #34

## Why is this needed

Currently, verify-revision-is-deployed command supported `deployment-controller` parameter is only ECS.
So I want this feature added.

[2020-01-29 04:47] lokst commented on #93
@enokawa Thanks for filing the issue, it'd be great if the `verify-revision-is-deployed` command can support Blue/Green deployments. Do let us know if you are interested in making a PR for this enhancement! 🙂

[2020-01-29 12:58] a10waveracer commented on #20
@BRafols This is now supported in v1.1.0.

@lokst This issue can be closed! Wooohoooo

[2020-01-29 13:24] #20 closed

[2020-02-14 15:14] ExternalReality opened #94 "Inconsistent parameter types with respect to other AWS orbs"
AWS orbs that authenticate with secrets such as `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` typically use the type `env_var_name` for commands and jobs accepting those parameters. This orb uses the string type. If a user is importing both the `ecr` orb and this orb together (which is quite typical) the inconsistency can be confusing and lead to frustrating configuration errors. Once a user dis

[2020-02-26 10:31] ypresto opened #96 "Polling multiple service at once with `verify-revision-is-deployed`"
## What would you like to be added

[code]

## Why is this needed

We deploy, verify, then notify for multiple services with a single job of CircleCI. Currently, we have sequential `aws-ecs/update-service`, then sequential `verify-revision-is-deployed`, then `slack/status` steps.

So timeout of a `verify-revision-is-deployed` step depends on previous `verify-revision-is-deployed` step.

It can be

[2020-02-26 12:11] ypresto opened #97 "Skip waiting for NUM_DEPLOYMENTS=1"
## What would you like to be added

Add skip-draining option to `verify-revision-is-deployed`.
It'll skip `$NUM_DEPLOYMENTS = 1` check.

## Why is this needed

ECS Service registered to ELB will wait for deregistration delay, which defaults to 5min, even if there is already no connection. It'll effectively delays job success for 5 mins.

[2020-03-02 03:47] lokst commented on #97
@ypresto Thanks for explaining your use case! Would you like to submit a PR for this? Otherwise we could add it to our backlog 🙂

[2020-03-02 03:53] lokst commented on #96
@ypresto Thanks for your suggestion! I'd like to understand more about this use case. It seems that these services are relatively independent of each other, i.e. it is OK to deploy one before waiting for the verification results of the previous one? In that case, would having parallel jobs running `aws-ecs/update-service` also help with this issue?

[2020-03-02 11:22] ypresto commented on #96
Yes, but

and require additional step to verify all of jobs succeeded.

[2020-04-23 17:38] alekhrycaiko opened #98 "Tags variable usage missing $"
### Orb version

1.1.0

### What happened

Trying to use aws-ecs-orb/update-service in order to perform an update-service on a blue-green deployment. But, I fail at the step when grabbing my previous task definition, e.g. of step name `Retrieve previous task definition and prepare new task definition values`

The error I get is
[code]
The problem I'm now having, is when I look through the code for

[2020-04-23 18:48] lokst commented on #98
Hi @alekhrycaiko, the value of the `TAGS` environment variable is used to set the value of the `CCI_ORB_AWS_ECS_TAGS` environment variable which gets used subsequently. `--include TAGS` is an option for the aws command and is unrelated to the `TAGS` environment variable.

Could you share the version of the aws cli you are using? A possible cause could be that the version is too old to support the

[2020-04-23 18:51] alekhrycaiko commented on #98
Oh interesting! I'm currently on version 0.1.13 for the CLI orb.

On Thu, Apr 23, 2020 at 11:48 AM Stella Lok <notifications@github.com>
wrote:

--
*Alek Hrycaiko*
*Lead Infrastructure Engineer*
*Sokanu Interactive Inc.*

[2020-04-23 19:05] lokst commented on #98
@alekhrycaiko Thanks for sharing! I would recommend SSH-ing into a rerun of the job and running `aws --version` to check on the cli version installed as there can be circumstances in which a different aws cli is used (e.g. there is already one pre-installed in the image) If you could share a link to your job or what image is being used that would be helpful too!

[2020-04-24 16:26] alekhrycaiko commented on #98
Thanks for the follow up @lokst! I appreciate the really prompt responses :bow:

The version is aws-cli/1.11.16 on the machine currently; I presume this is much out of date. Despite a reinstall of the cli with the latest orb, I wasn't able to proceed further.

However, I was able to unblock myself here by using `deploy-service-update` job instead of the `update-service` command. This worked withou

[2020-04-25 12:48] Cellane opened #99 "Trouble passing environmental variables to the orb"
### Orb version

1.1.0, as recommended on the CircleCI Orb listing.

### What happened

I’m having issues figuring out how to pass any sort of computed variable into the orb. In my use case, I need to figure out the cluster name, service name (and perhaps other things that I’m not yet aware of) based on the branch that CircleCI is running on. For example, a commit (realistically, a PR merge) on `d

[2020-04-27 08:52] lokst commented on #98
@alekhrycaiko Since the `deploy-service-update` job worked and the command didn't, it seems that the issue is with the version of the aws cli being used to execute the ecs commands.

It sounds like you are using the latest `circleci/aws-cli` orb on the machine executor, which comes with the aws cli pre-installed. The orb by default skips installation of the CLI if an existing CLI is detected. To f

[2020-04-27 09:00] lokst commented on #99
Hi @Cellane , sorry to hear about the difficulties you encountered. Could you try defining the `AWS_DEFAULT_REGION` environment variable for your project? The AWS CLI should be able to pick up on that. I believe `AWS_REGION` is not consistently recognized across aws cli versions, although the `circleci/aws-ecr` orb utilizes that environment variable name by default.

[2020-04-27 20:40] Cellane commented on #99
@lokst Thank you for your answer!

I see! Actually I made a little progress since the time I wrote the original post. I decided to call both orbs after one another in the same job, and since the `aws-ecr` orb looks at the `AWS_REGION` variable and passes it to AWS CLI, it then became available to the `aws-ecs` orb as well.

Another issue I ran into was setting the `SERVICE_NAME` variable in my she

[2020-04-27 21:10] lokst commented on #55
Closing due to inactivity

[2020-04-27 21:10] #55 closed

[2020-04-27 21:30] alekhrycaiko commented on #98
Good to know, thanks @lokst
I'll look into upgrading my machines to the latest ubuntu.

[2020-04-27 21:35] alekhrycaiko commented on #98
Also, @lokst what do you think about adding a minimum viable AWS and Ubuntu version into the README docs? If what's uncovered is true, I'm sure this could happen to others down the line :thinking:

[2020-04-28 06:28] lokst opened #100 "Document minimum aws version needed"
Document minimum aws version needed to support the `--include TAGS` option which the orb uses, and known machine executor images that do not have a new enough `aws` version pre-installed. This may help avoid issues like https://github.com/CircleCI-Public/aws-ecs-orb/issues/98.

Perhaps this could go into a "Common Problem Causes" section of the readme.

[2020-04-28 06:30] lokst commented on #98
That's a good idea! I filed an issue for it 🙂

[2020-04-28 06:38] lokst opened #101 "Enhance `run-task` to allow streaming of logs from ecs task and waiting till completion"
## What would you like to be added

Add the ability to stream logs from an ecs task and wait till completion of the task being run by the orb.

## Why is this needed

This is useful for long-running tasks like database migrator tasks.

## Related references

https://docs.aws.amazon.com/AmazonECS/latest/developerguide/cmd-ecs-cli-logs.html

[2020-04-28 06:42] lokst commented on #99
@Cellane Thank you for sharing your findings! I filed a new issue https://github.com/CircleCI-Public/aws-ecs-orb/issues/101 to capture the possible enhancement.

[2020-04-28 06:43] lokst commented on #10
Closing this issue as the `run-task` command already exists. I have opened a separate issue for log output: https://github.com/CircleCI-Public/aws-ecs-orb/issues/101

[2020-04-28 06:43] #10 closed

[2020-04-29 14:55] Shikkic commented on #41
Hey all, I ran into this issue myself today and saw this issue/PR and was wondering if there were any plans to build this support out for the ECS orb?

I was able to get around it by doing a weird hack based on what @lucasnad27 was doing. Basically just overriding aws cred envs with generated ones before the update service step (in case this is helpful to anyone):

[code]

[2020-04-30 20:22] ypresto commented on #97
I don't have time to work on this sorry >_<

[2020-05-09 16:53] gugu commented on #101
Here is my piece of bash to wait till task completes and fail if container exit code is not 0:

[code]

[2020-05-19 09:18] anveshagarwal opened #102 "Need to return the taskarn from run_task command"
## What would you like to be added
I am working on polling the task status that is run by `run_task`. Now i am not able to get the task arn. I tried to use aws-cli to get the task arn that is just initiated by the the `run_task`. But no command seems good for my usecase. So it will be much better if i can just get the taskarn from the `run_task` command in BASH_ENV.
## Why is this needed
It will m

[2020-05-25 14:17] bkovacev opened #103 "No such file or directory: 'less': 'less'"
### Orb version
1.1.0

### What happened
The output of the CI task is not successful, but the job has ran just fine.

`config.yml`
[code]

`CI output`
[code]

### Expected behavior
The output of the CI task should be successful as the job has ran just fine on ECS.

[2020-05-25 18:31] mhaley-miovision commented on #103
FWIW I am also hitting this calling lambda update-function:
[code]

[2020-05-25 18:38] mhaley-miovision commented on #103
From https://github.com/aws/aws-cli/issues/5038 which links https://docs.aws.amazon.com/cli/latest/userguide/cliv2-migration.html#cliv2-migration-output-pager.  I tried setting the `AWS_PAGER` envvar like it suggests and that seems to work.  My config is like so

[code]

[2020-05-26 16:34] bkovacev commented on #103
@mhaley-miovision This has solved it for me - thank you so much.

[2020-05-27 21:02] pbrisbin opened #104 "Deploying updates to Schedule Tasks"
## What would you like to be added

I'd like to be able to use this Orb to deploy updates to Scheduled Tasks in addition to ECS Services.

I've built this as a [separate Orb](https://github.com/pbrisbin/aws-ecs-scheduled-tasks-orb/blob/master/src/jobs/deploy-scheduled-task-update.yml#L75-L95) for now. All the heavy lifting is provided by this Orb already; I just added an additional step to call `a

[2020-05-29 08:41] lokst commented on #104
@pbrisbin This sounds very useful! Let me get back to you soon on this 🙂

[2020-06-01 13:42] ant- opened #105 "Error: Root Directory can not be set when using an EFS Access Point"
Error: Root Directory can not be set when using an EFS Access Point

## What would you like to be added
I would like to specify `efsVolumeConfiguration` with `deploy-service-update` job.

## Why is this needed

Currently, I'm having a trouble with registering a task definition. I do understand that root directory should be empty if I'm using an access point, however AWS adds it once new revision i

[2020-06-02 05:07] lokst commented on #105
@ant- If I understand the issue correctly, perhaps you could ensure that`efsVolumeConfiguration` is already specified in the `volumes` key in the task definition? If so, I think that `deploy-service-update` should be able to retain it when registering a new task definition based on the existing one.

[2020-06-02 06:31] ant- commented on #105
@lokst the problem here is that `thatefsVolumeConfiguration` is in place and `deploy-service-update` tries to update it, but fails because `rootDirectory` should be empty at the moment of a task registration. However, it will be  replaced with `/` later by Amazon.

[2020-06-02 16:14] lokst commented on #103
@mhaley-miovision Thank you for sharing the workaround. We're working on resolving this on the `circleci/aws-cli` orb end, and then update this orb to use the new release.

[2020-06-04 10:16] lokst commented on #103
AWS CLI v2 users can now use `circleci/aws-cli@1.1.0` to resolve the issue with paging, as that version of the orb disables paging. Closing this issue as it only affects aws-ecs orb users who install aws cli v2 separately; the aws-ecs orb's jobs use aws cli v1 at the moment.

[2020-06-04 10:16] #103 closed

[2020-06-04 10:28] lokst commented on #105
@ant- Thanks for clarifying the issue. I am not familiar with `efsVolumeConfiguration`, but looking at https://docs.aws.amazon.com/cli/latest/reference/ecs/register-task-definition.html, it says `Specifying / will have the same effect as omitting this parameter.` , so this sounds like unexpected behavior of the aws cli to me?

[2020-06-04 13:26] lokst commented on #105
@ant- The new parameter made available in this PR https://github.com/CircleCI-Public/aws-ecs-orb/pull/88 could possibly help avoid the error

[2020-06-04 23:17] alekhrycaiko commented on #93
@lokst the `verify-revision-is-deployed` command does not accept blue-green to my understanding.

I do think it'd be a good idea to build something out to rectify this issue. As it is currently, there is no feedback that a blue green deployment times out, nor is there any feedback to when precisely a deploy succeeds or fails and is rolled back. The only error case I've come across currently is whe

[2020-06-05 11:11] lokst commented on #93
Thanks @alekhrycaiko, your PR is very welcome! We'll review it as soon as possible.

[2020-06-09 11:07] amitizle commented on #99
For future reference, I bumped into the same issue and it was the AWS CLI version in the end (`1.x` which does not support the `--include` flag for the subcommand).
In my case it was a custom image with the `aws` binary installed and `aws-cli` command installed the `aws` CLI on some other path, so `aws-cli` installed the `aws` CLI correctly, but the ECR command was using the wrong version of the C

[2020-06-09 21:43] dhaspden opened #107 "Add ability for specifying the platform version on update-service with CodeDeploy"
## What would you like to be added

It would be nice to have a `platform-version` parameter on the `update-service` command so that we can specify a custom platform version for our CodeDeploy deployments. An example would look like the following:

[code]

I guess you could default this to `LATEST` or whatever a sensible default is. I'm not familiar with ECS on EC2 so I'm not sure how the platform

[2020-06-25 22:57] WojciechCichy opened #108 "Unexpected argument(s): aws-region, aws-access-key-id, aws-secret-access-key"
### Orb version

1.2.0

### What happened

During update-task-definition, when aws-access-key-id, aws-secret-access-key and aws-region are specified, it throws an error:
[code]

### Expected behavior

Not throwing an error and accept the variables as specified in the documentation.

[2020-06-26 00:28] lokst commented on #108
Hi @WojciechCichy, could you share the part of your config where you are invoking `update-task-definition`, to help us troubleshoot?

[2020-06-26 06:53] WojciechCichy commented on #108
Hi @lokst, here it is:

`
[...]
  update_task_definition:
    executor: python
    resource_class: small
    parameters:
      family:
        type: string
      container_name:
        type: string
    steps:
      - aws-ecs/update-task-definition:
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-region: AWS_REGION
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          conta

[2020-06-27 01:32] alekhrycaiko commented on #107
From what I've read @dhaspden the `platform-version` is a purely fargate feature. It'd probably make the most sense to add this command with that consideration in mind.

[2020-06-27 04:28] dhaspden commented on #107
From a CodeDeploy perspective it would be nice to somehow be able to add extra fields to the generated json. If it can be made generic to support platform version as well as whatever other field folks want (like hooks)? I just know since it defaults to `LATEST` which is actually `1.3.0` right now it blocks us from being able to use this orb _and_ deploy `1.4.0`. Not sure if there are any known wor

[2020-08-07 05:02] lokst commented on #108
@WojciechCichy Sorry for the delay in response. It looks like you are invoking the `update-task-definition` command with parameters (aws-access-key-id, aws-secret-access-key and aws-region) that don't exist. You can check the available parameters for the command on: https://circleci.com/orbs/registry/orb/circleci/aws-ecs

[2020-08-07 10:38] lokst commented on #93
This should be resolved in version 1.3.0 of the orb 🎉

[2020-08-07 10:38] #93 closed

[2020-08-25 10:04] AdrianTudC opened #109 "container-env-var-updates trims '=' characters from values"
### Orb version
1.2.0
### What happened
I'm passing a couple of env-vars using command `aws-ecs/update-service:` as part of a job. In `container-env-var-updates` I set a variable with a base64 value which ends in `=`. After successful deployment to ECS, In the task definition JSON view in the AWS console I see that my `=` signs at the end are trimmed.

I pass the variable this way : `container=myC

[2020-09-08 10:46] robdavidson-lumin opened #112 "Readme examples out of date"
## What would you like to be added

Feature request here is to resync the documentation to reflect the current major version and to describe how to build a container and deploy it using AWS ECR and ECS path.

As a new user to CircleCI the Readme's are very helpful, they really showcase the features and help you get started. However once they become out of date it becomes difficult to use.

Also it

[2020-09-10 09:53] reytarovskiy commented on #107
+1

[2020-09-11 12:00] jerryskye commented on #101
A slight variation of the above worked well for me as a replacement for the `run-task` step:

[code]
Thanks @gugu 💚
I think streaming logs is only possible with the `ecs-cli`: https://docs.aws.amazon.com/AmazonECS/latest/developerguide/cmd-ecs-cli-logs.html

[2020-09-18 13:39] #108 closed

[2020-09-25 10:04] #112 closed

[2020-10-01 00:56] devkapilbansal commented on #100
@lokst I want to look into this issue

[2020-10-08 10:47] #105 closed

[2020-10-08 11:54] gmemstr commented on #98
Considering this issue resolved, but feel free to reopen if I've misread!

[2020-10-08 11:54] #98 closed

[2020-10-08 14:39] blimmer opened #114 "Allow passing DockerHub credentials"
## What would you like to be added

We'll need a way to pass the `auth` block to the `docker` configuration parameter ([docs](https://circleci.com/docs/2.0/configuration-reference/#docker)). I see that you can customize the docker image, but you can't pass `auth` credentials: https://github.com/CircleCI-Public/aws-ecs-orb/blob/0f7fce6f951ff6ccdcf76538efa781eef9efb5f0/src/orb.yml.hbs#L390-L391

##

[2020-10-19 13:47] oorestisime commented on #104
Any news here? i need this as well and would love if it was in the orb

[2020-10-20 14:14] dpeterka opened #115 "verification-timeout fails if greater than 10m"
### Orb version

1.3.0

### What happened

circleci default timeout for no standard output is 10minutes. This orb runs aws cli "wait" command and does not return output while validating.

Setting `no_output_timeout: XXm` does not work as it's not possible to include in run command as required

### Expected behavior

Task should wait longer than 10minutes with no issues.

Not sure or I would have s

[2020-11-02 15:19] gmemstr commented on #114
CircleCI has partnered with Docker Hub and will not be subject to rate limiting - you can read more here: https://support.circleci.com/hc/en-us/articles/360050623311-Docker-Hub-rate-limiting-FAQ

[2020-11-02 15:19] #114 closed

[2020-11-17 10:47] gmemstr commented on #94
Likely to be done when we eventually refactor this orb using the new Orb Development Kit standards.

[2020-11-19 14:14] vladgolubev opened #117 "Provide a way to deregister obsolete task definitions"
## What would you like to be added

[code]

## Why is this needed

I have almost 1,000 obsolete tasks now

![image](https://user-images.githubusercontent.com/3817380/99677293-3c41ea80-2a82-11eb-8d3f-d6e2cf533dba.png)

[2020-12-04 15:43] gmemstr commented on #96
I'm not super confident this is doable within the context of orbs, at least not with the syntax described. Theoretically we could pass through that array as a string, but then we have to figure out a how to parse that.

[2020-12-04 15:43] #96 closed

[2020-12-14 19:29] KyleTryon commented on #115
Hello @dpeterka,

I have taken a look at your request and I believe it has been addressed in version 1.4 which contains this parameter on "update service"

[code]

If this newer version does not resolve your issue, please let us know and we may follow up with further questions. Version 2.0 will be releasing in the coming weeks.

[2020-12-14 19:29] #115 closed

[2020-12-14 20:31] KyleTryon commented on #109
I suspect this behavior may not be caused by the orb, but by AWS. The value is fully within the quotes of the JSON object, so I don't believe the orb would be modifying this string in any way. Leaving open for now

[2020-12-14 20:44] #99 closed

[2020-12-14 20:46] KyleTryon commented on #99
Confirming #118 will have all environment variables used internally prefixed to avoid this.

[2020-12-14 21:13] KyleTryon commented on #85
Appears this was closed with #88

[2020-12-14 21:13] #85 closed

[2020-12-14 21:15] KyleTryon commented on #94
Working on making this a part of #118

[2020-12-17 20:17] blimmer opened #119 "Ability to set `dockerLabels` when updating a task definition"
## What would you like to be added

It would be great to be able to set [`dockerLabels`](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task_definition_parameters.html#container_definition_labels), just like you can set env variables with `container-env-var-updates`.

For instance,

`container-docker-label-updates` which takes parameters like:

[code]

## Why is this needed

Datadog r

[2020-12-22 20:52] KyleTryon commented on #9
This will be addressed as part of #118

[2021-02-09 21:40] dgeorges opened #120 "Support Resource Tags"
## What would you like to be added

I would like to have metadata attached to container definitions that are created by this orb in the form of aws tags. Implementation of tagging a resource can be done during its creation or after the fact.

During creation:
[register-task-definition](https://docs.aws.amazon.com/cli/latest/reference/ecs/register-task-definition.html) accepts a `--tags` argument.

[2021-02-25 18:45] dnoji opened #121 "platform-version is not used in the run-task command when using Fargate Spot"
## Orb version:

2.0.0

## What happened:

`platform-version` is not used when specifying `FARGATE_SPOT` as the capacity provider in the `run-task` command. This may result in the following error if a specific platform version is required for a task definition (e.g. version 1.4.0 is required to use EFS):
```An error occurred (PlatformTaskDefinitionIncompatibilityException) when calling the RunTask

[2021-03-01 05:45] lokst commented on #121
@dnoji Thank you for your feedback. I think a fix could be to change the default for the `platform-version` parameter from `LATEST` to `""`, and set the `--platform-version` AWS CLI argument if a non-empty string `platform-version` parameter is provided. This makes it easier to determine when `--platform-version` should be supplied.

[2021-03-11 21:33] jychen7 opened #123 "feat: container-secrets-updates for ECS Task Definition"
## Describe Request:
Similar to [container-env-var-updates](https://github.com/CircleCI-Public/aws-ecs-orb/blob/8f17662a21ee91a7b217897666b199a7d0bb5e14/src/commands/update-task-definition.yml#L23-L34), Use this to update or set the references of secret variables that will be defined for the containers. The supported references are either the full ARN of the AWS Secrets Manager secret or the full

[2021-03-15 09:44] mimozell opened #125 "Enable circuit breakers"
## Describe Request:
Hi,

it would be nice if it would be possible to enable circuit breakers through the orb.

## Supporting Documentation Links:
Link to the cli options that include this: https://awscli.amazonaws.com/v2/documentation/api/latest/reference/ecs/update-service.html
General documentation: https://aws.amazon.com/blogs/containers/announcing-amazon-ecs-deployment-circuit-breaker/

[2021-03-18 08:04] #121 closed

[2021-03-18 09:58] lokst commented on #121
This should now be resolved in `circleci/aws-ecs@2.1.0`

[2021-03-18 15:16] dnoji commented on #121
Great, thanks!

[2021-03-24 15:49] justinhamadeunity opened #126 "Documentation for IAM Permissions and Roles required"
## Describe Request:

This is more of a documentation request than a feature request.  I have searched for a while and can not find a list of the IAM Permissions or roles needed for this orb.  I will have to go through the tedious process of trial and error to try to figure it out.  I will report back here when I do.

## Examples:

## Supporting Documentation Links:

[2021-04-05 06:51] dgeorges commented on #120
HI,

I would like to take this issue on. I am not sure how approval works, so before I get started I just wanted to describe my planned change for review.

The `update-service` command will take a new parameter named `task-definition-tags` which will be a string in the format "key=<name>,value=<value>,.... If specified the task-definition will be tagged with the given tags using the `aws ecs tag-r

[2021-04-06 14:27] LeeCheneler commented on #107
So our Fargate deployments broke last week because our services need platform version 1.3.0 and LATEST now points to 1.4.0 in AWS.  It looks like we need to ditch this orb and use our own scripts now because of this.

+1 for adding support to set the platform version... please consider it!

[2021-04-07 13:52] jasonkarns opened #128 "Latest github release is 1.4.0"
git-tags for 2.0.0 and 2.1.0 are missing (and therefore also, the corresponding github releases are missing)

This makes it difficult to track changes between the versions.

[2021-04-22 09:51] reytarovskiy opened #130 "Support code deploy capacity provider strategy"
## Describe Request:
AWS [announced](https://github.com/aws/containers-roadmap/issues/713) capacity provider support with AWS CodeDeploy, it will be nice if aws-ecs-orb will support this.

## Examples:

- CircleCI config.yml
[code]

- AppSpec json
[code]

## Supporting Documentation Links:

- [AppSpec](https://docs.aws.amazon.com/codedeploy/latest/userguide/reference-appspec-file-structure-resourc

[2021-05-11 13:30] rielcarol opened #132 "update-service command doesn't carry the ephemeralStorage information"
## Orb version: 2.2.1

## What happened:
AWS has added a new parameter in the ECS tasks definitions that is called `ephemeralStorage` that is not retained when updating the service definition:
https://docs.aws.amazon.com/AmazonECS/latest/userguide/task_definition_parameters.html#task_definition_ephemeralStorage

Steps:
* create a task definition with this value set in the JSON of the task definiti

[2021-05-13 12:44] #9 closed

[2021-05-19 09:58] vatima2016 opened #133 "verification-timeout parameter is ignored in aws-ecs/update-service command"
## Orb version:

2.2.1

## What happened:

**verification-timeout** parameter is ignored in aws-ecs/update-service command.
B/G  deployment verification times out always in 10 minutes e.g. in case of a defect task configuration.
[code]

## Expected behavior:

B/G  deployment verification should timeout as specified in 30 seconds

## Additional Information:
B/G  deployment verification times out in

[2021-05-19 10:14] vatima2016 opened #134 "feat: Implement deployment circuit breaker with rollback for deployment controller of type CODE_DEPLOY"
## Describe Request:
Implement deployment circuit breaker with rollback for deployment controller of type CODE_DEPLOY.

Behavior now:
 If a task can not reach healthy state, for example because of defect configuration, the **aws-ecs/update-service** command  is terminated after **verification-timeout** (defaults to 10 minutes).

But the initiated CodeDeploy deployment is running until it times out

[2021-06-03 12:11] liron-quantum opened #135 "Update run-task command to give access to the output from the aws cli"
## Describe Request:
The run-task command in that job is great for starting the job, but it doesn't save the output of the run-task command anywhere, which means that there's no easy way to check on the status of the task and wait for it to run before going onto the next build step.

If this functionality could be added to the orb, it would be fantastic.

## Examples:
If the task IDs could be adde

[2021-06-12 18:53] icco commented on #128
This is still an issue, please fix. 2.2.0 and 2.2.1 are also missing.

[2021-06-12 18:55] icco commented on #94
@KyleTryon this looks done?

[2021-06-14 13:24] KyleTryon commented on #94
Correct 👍 thank you for pointing that out. Closing this issue.

[2021-06-14 13:24] #94 closed

[2021-07-12 08:57] reytarovskiy commented on #130
Something about it? Or other ways to solve?

[2021-07-28 14:18] dsullivan7 opened #136 "Change cluster parameter naming to be consistent"
## Describe Request:
In the `run-task` command, the parameter used to specify the cluster is `cluster`, which matches the aws cli command parameter. However, in `update-service`, the same parameter is called `cluster-name`.  My request is that the `update-service` command support a `cluster` parameter, for both consistency and to match the underlying aws api.

[2021-11-05 11:35] gmemstr commented on #136
While I agree, I'd be very cautious about renaming an established parameter, especially since we can't necessarily notify those who may depend on it. In this instance a major change would be required, but the scope of the changes is actually relatively small -- so I suppose to only way to make this happen would be to loop it in with some other major changes to the orb to help justify the major rel

[2021-11-24 19:52] jasonkarns commented on #128
This is starting to get frustrating. There's no easy way to track changes. Changelog.md in the repo is way out of date (latest entry is 2.0); latest git-tag is 1.4.0; latest github release is 1.4.0.

How are consumers expected to review changes to evaluate upgrades or debug issues?

[2021-12-07 12:26] yyamada-red-frasco opened #137 "update-task-definition command remove the runtime-platform information"
## Orb version:
2.2.1

## What happened:
The runtime-platform parameter is not specified in the `aws ecs register-task-definition` of the update-task-definition command, so if you update the task definition that specifies the runtime-platform, the information will be removed.
https://docs.aws.amazon.com/cli/latest/reference/ecs/register-task-definition.html

Steps:
- create a task definition with

[2022-01-03 11:55] alansikora commented on #137
At least on the latest version, it does retrieve runtimePlatform.

[code]

[2022-01-03 11:57] alansikora commented on #137
I was planning on adding the support, but I'm on a very hectic moment of my project right now, so I won't be able to.

But if nobody adds the new code when I'm free again, I will work on adding the support.

[2022-01-10 18:47] brivu commented on #100
The `--include` flag has been deprecated

[2022-01-10 18:47] #100 closed

[2022-01-11 10:26] AlexandruTipter commented on #104
+

[2022-01-11 11:53] pbrisbin commented on #104
:wave: I've moved from Circle to GitHub Actions generally and no longer use this Orb or my scheduled-task one, so I'm no longer invested in this issue. Just let me know if I can be helpful to anyone who wants to run with it themselves.

[2022-01-11 12:04] AlexandruTipter commented on #104
It's fine, we cannot move and we still need this, so if there is still some light to this feature then i'm looking forward to it.

[2022-01-14 04:08] amc6 commented on #128
For the next person to find this, it looks like version 2.2.1, the latest version at this time, is this commit: https://github.com/CircleCI-Public/aws-ecs-orb/commit/cc106a18646469884fae770a157131da490c5e19

[2022-03-07 23:55] Aivolt1 opened #145 "Hyper-Ledger Multichain block implementation"
## Describe Request:
I would like to test some of the codes in deploying the all in one web3 blockchain

## Examples:
The awls Esc is a cloud server allowing me to run at a higher capacity

## Supporting Documentation Links:

Metax.company.site

[2022-03-22 16:21] dsvensson opened #146 "run-task overrides fails to evaluate env arguments"
## Orb version:

2.2.1

## What happened:

[code]

## Expected behavior:

I expected that this would work:

[code]

[2022-03-25 10:26] i-kohan commented on #109
Hello, I found this piece of code that is responsible for parsing the container_env_var_updates string. It is located in the update_container_defs.py file.
On line 37, you can see that we are splitting the value by the "=" symbol, it seems to me that this is the part that removes the "=" symbol from the value
<img width="743" alt="Снимок экрана 2022-03-25 в 14 22 05" src="https://user-images.githu

[2022-03-31 20:28] KyleTryon commented on #97
Thank you for submitting this issue, we are going to mark this as closed as it appears abandoned and a potential lack of interest. If there is still desire for this change, please feel free to open a new PR or issue.

[2022-04-06 02:25] maxcrossan commented on #137
Would be great to have this in 2.2.2

[2022-04-10 09:59] yoavya commented on #137
Is there a workaround for this besides copying the code to my circle configuration file and fixing the issue locally? Or is there any ETA on the release @alansikora ?

[2022-04-25 13:01] danielstravito opened #147 "Changes arch from Linux/X86_64"
## Orb version:

2.2.1

## What happened:

I had a taskdef with the following, and the service was live and healthy with ARM64.

[code]

I then deployed via this orb, and now it's on `Linux/X86_64` rather than `ARM64`.

I use the following for deploys:
[code]

## Expected behavior:

Either don't touch the platform, or expose functionality that lets you control the platform.

[2022-05-07 16:33] trevorr opened #148 "Support AWS CLI profile name to override credentials"
## Describe Request:

Add the ability to specify the AWS CLI profile name for each command, as is (mostly) done in the `circleci/aws-ecr` orb.

### Background

Many projects start out with a single AWS account and put credentials for that account into `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` in the CircleCI environment. In fact, many CircleCI examples assume this has been done. When it come

[2022-05-12 11:02] danielstravito commented on #147
This script needs to be changed:

https://github.com/CircleCI-Public/aws-ecs-orb/blob/master/src/scripts/register-new-task-def.sh

Needs a parameter for adding `--runtime-platform=cpuArchitecture=ARM64`

[2022-05-13 06:24] brivu commented on #128
Hey all,

I'm Brian from CircleCI. Im doing a major rewrite of this orb and will cut a release for version `3.0`.

We recently enhanced our Orb Tools which will include a change log with every new version release.

Thanks for hanging in there and the new Orb version will be available in the upcoming weeks.

Best,
Brian

[2022-05-13 06:35] brivu commented on #120
This has been merged in #127

[2022-05-13 06:35] #120 closed

[2022-05-19 18:27] #137 closed

[2022-05-20 02:47] brivu commented on #148
This has been addressed in PR #153

[2022-05-20 02:47] #148 closed

[2022-05-20 03:07] brivu commented on #125
This has been resolved with PR #157

[2022-05-20 03:07] #125 closed

[2022-05-20 03:15] brivu commented on #147
Hey @danielstravito,

I've merged PR #155 to add the `runtime-platform` parameter. I'm closing this issue for now but please feel free to reopen if that doesn't work for your use case.

Thanks!
Brian

[2022-05-20 03:15] #147 closed

[2022-05-20 04:16] brivu commented on #41
This has been addressed in PR #153

[2022-05-20 04:16] #41 closed

[2022-05-24 10:16] geoL86 opened #159 "Add 'Deployment configuration' parameter for Blue/Green Deployment"
## Describe Request:

Add additional optional parameter 'Deployment configuration' for 'update-service' and 'deploy-service-update' jobs.

## Examples:

[code]

## Supporting Documentation Links:
https://docs.aws.amazon.com/cli/latest/reference/ecs/update-service.html

[2022-05-24 18:10] #134 closed

[2022-05-25 20:11] nford opened #160 "Variable interpolation in overrides JSON"
## Orb version:

2.2.1

## What happened:

[code]
The same ENV VAR is used elsewhere without issue. If I replace ${CONTAINER_NAME} with the relevant string it works without issue. The Orb does not seem to interpolate the value within this JSON.

## Expected behavior:

name value should be populated

## Additional Information:

[2022-05-26 23:58] jeffreymlewis commented on #160
I ran into this exact issue today. Are you already working on a PR? If not I'll submit something.

[2022-06-01 19:34] LaurentGoderre opened #164 "Upgrade aws-cli orb to auto install the CLI when setting up the AWS env"
## Describe Request:

The ECR orb automatically installs the AWS CLI because it uses a new version of the CLI orb. Upgrading would make the orb more consistent.

[2022-06-01 19:56] #82 closed

[2022-06-01 20:16] brivu commented on #164
Hey @LaurentGoderre,

Just to clarify, you want this orb to reference the most up to date version of the `aws cli` orb, correct? Like [here](https://github.com/CircleCI-Public/aws-ecs-orb/blob/c46e21a2a48ddf11de99d39767a1c37ad5833965/.circleci/test-deploy.yml#L5)? https://github.com/CircleCI-Public/aws-ecs-orb/blob/c46e21a2a48ddf11de99d39767a1c37ad5833965/.circleci/test-deploy.yml#L5

Let me know

[2022-06-02 00:21] LaurentGoderre commented on #164
Yes, that looks right

[2022-06-02 17:43] brivu commented on #133
This is solved with PR #163

[2022-06-02 17:43] #133 closed

[2022-06-03 04:12] brivu commented on #164
Hey @LaurentGoderre,

I've added a bunch of fixes and features for this orb, including the latest version of the `aws cli`. I'll go ahead and cut minor a release soon and make it available for everyone.

Best,
Brian

[2022-06-03 04:12] #164 closed

[2022-06-03 05:53] brivu commented on #160
@jeffreymlewis,

I've been working on this all day to figure it out but it seems like doing a `eval echo` on the `overrides` parameter is causing more issues, even without expanding an environment variable within the json. Here's the error I am getting when trying to run do so:

[code]

I'll be checking in with my team to see if there's any workarounds but if you can think of one, feel free to let

[2022-06-03 13:23] LaurentGoderre commented on #164
Awesome! Thanks!

[2022-06-03 15:59] jeffreymlewis commented on #160
Escaping the double-quotes would work, but it's ugly and makes this a breaking change. 🙁

Sorry I can't be more help. Unfortunately I couldn't use this orb in my current project (for other reasons) and never fully implemented this solution.

Here's how I was testing variable expansion.

[code]

[2022-06-07 20:06] #146 closed

[2022-06-07 20:06] #160 closed

[2022-06-07 20:20] brivu commented on #159
Hey @geoL86,

I've read the documentation but am still a little unclear about what you're looking to accomplish.

What would be the value of the `deployment-configuration` parameter and how would it tie into the `aws deploy create-deployment` cli command or the `aws ecs update-service` command?

I'm just trying to understand the goal of this parameter so I can go ahead and implement it.

Let me kn

[2022-06-08 09:19] andriyfedak opened #166 "Publish new version"
## Describe Request:
PR [153](https://github.com/CircleCI-Public/aws-ecs-orb/pull/153) to enable the profile-name parameter is merged, but the currently published orb (2.2.1) seems not to include that

[2022-06-09 05:08] brivu commented on #101
Hey @gugu,

I'm working on updating this orb at the moment and wanted to understand your request a little bit more. Right now, when running the `run-task` command, there's a `json` output that contains the `task-arn` below:

[code]

Is there something else that's missing in this output that you need?

Please let me know and I'll see if we can add it for you.

Best,
Brian

[2022-06-09 05:21] brivu commented on #102
Hey @anveshagarwal,

If we were to save the `json` output from running the `run-task` command, would that help your use case?

Best,
Brian

[2022-06-09 08:11] dsvensson commented on #135
I think this is what is of interest:

[code]

[2022-06-09 21:36] brivu commented on #166
Hey @andriyfedak,

I'm trying to merge in one last feature and will cut a minor release shortly after. Stay tuned!

Best,
Brian

[2022-06-09 22:01] brivu commented on #128
Hey all,

Just wanted to follow up. I'm going to merge one last feature and will cut a new minor release since all issues have not been addressed yet. This release will include a change log and a new tag.

Hope that helps!

Best,
Brian

[2022-06-10 18:06] #87 closed

[2022-06-10 18:53] #101 closed

[2022-06-10 18:53] #102 closed

[2022-06-10 18:53] #135 closed

[2022-06-10 21:18] brivu commented on #166
Hey @andriyfedak,

Just wanted to let you know that I created a new release that you can find [here](https://github.com/CircleCI-Public/aws-ecs-orb/releases/tag/v2.3.0).

I'm closing this issue!

Best,
Brian

[2022-06-10 21:18] #166 closed

[2022-06-10 21:19] brivu commented on #128
Hi All,

I've made a new release [here](https://github.com/CircleCI-Public/aws-ecs-orb/releases/tag/v2.3.0) complete with release notes and change log.

Hope that helps!
Best,
Brian

[2022-06-10 21:19] #128 closed

[2022-06-13 19:27] #126 closed

[2022-06-13 20:56] brivu commented on #117
Hey @vladgolubev,

I've talked this through with our team and implementing something like this is outside of the scope of the orb. Having said that, you can deregister your outdated tasks locally on the `cli`. Here's the [link](https://awscli.amazonaws.com/v2/documentation/api/latest/reference/ecs/deregister-task-definition.html) to the documentation in case you need it.

Best,
Brian

[2022-06-13 20:56] #117 closed

[2022-06-13 21:00] brivu commented on #107
Hey everyone,

This issue has been resolved with PR #118. I am going to close this issue for now. If you still have any outstanding issues, please open a new one and we'll look into it.

Best,
Brian

[2022-06-13 21:00] #107 closed

[2022-06-14 21:08] brivu commented on #104
Hi @pbrisbin, @Retpit and @oorestisime,

I'm working on the next major release of this orb and I'm looking into adding this. Can you give me some more details about your use case so I can understand how to add this into the orb and test it?

Best,
Brian

[2022-06-20 11:11] geoL86 commented on #159
Hi @brivu,

Sorry for delay, deployment-configuration option allows us to select different  deployment configurations for the same application. Fox example we can predefine 3 canary deployment configurations with the same traffic shifting in % but with different time options(M - minutes, P - percent): Canary10M50P, Canary30M50P, Canary60M50P

Then we creat application with deployment configuration

[2022-06-23 15:28] oorestisime commented on #104
Hey sorry for the delayed response. So basically on ECS we have a set of scheduled tasks. When the images change we need to update those tasks to use the new image.
This is not supported by the orb as far as i understand.
I ended up doing it with a python script. looks like

[code]

Hope this helps. open to clarifications if needed

[2022-06-23 15:32] #136 closed, assigned to brivu

[2022-06-24 21:18] brivu commented on #104
Hey @oorestisime,

I resolved this with PR #168 and will cut a new major release in about a week. If you still have issues after the release, feel free to open a new issue.

Thank you!
Brian

[2022-06-24 21:18] #104 closed

[2022-06-24 22:51] oorestisime commented on #104
Hey @brivu many thanks for this. took a quick look on the PR and wondering if there is any chance this could support multiple rules at once?
We have like 15 scheduled tasks so it would be handy to avoid adding 15 jobs instead of one ( and let the orb handle looping ).

[2022-06-27 22:30] #109 closed

[2022-06-29 13:43] danielstravito commented on #147
Shouldn't this be added to the update-service? Or how does it work? Can I now update the taskdef to arm64 and using update-service will no longer overwrite that?

[2022-07-19 15:48] brivu commented on #130
This feature has been added with PR #172

[2022-07-19 15:48] #130 closed

[2022-07-19 15:52] brivu commented on #132
Hey @rielcarol,

Does this only happen with the `update-task-definition-from-json` command? Do you run into the same issue with the `update-task-definition` command?

Let me know!

Best,
Brian

[2022-07-26 14:13] kassyuz opened #174 "Command deploy-ecs-scheduled-task doesn't work"
## Orb version:
3.0.0

## What happened:
The command `deploy-ecs-scheduled-task` isn't work because there is bash command that doesn't exist, it is `mktmp`

Check it out at line 20 and 22 of the [command source](https://circleci.com/developer/orbs/orb/circleci/aws-ecs?version=3.0.0#commands-deploy-ecs-scheduled-task)

Also the AWS CLI command `aws events put-targets --cli-input-json "$(cat "$CLI_I

[2022-07-26 14:21] kassyuz commented on #174
I see the the fixes on `master` branch but any guess when will we have a release of it?

[2022-08-04 18:23] laurent-leconte opened #176 "commands/update-service does not pass the `profile-name` parameter to the `update-task-definition` step"
## Orb version:
2.3.0
(although this should also be broken in 3.0.0 as the code is the same)

## What happened:

Running the following job in Circle CI, with specific AWS credentials and a specific profile name:
[code]
The pipeline fails at the step `Retrieve previous task definition and prepare new task definition values` with the following error:
[code]
For reference, the command log for this ta

[2022-08-10 05:23] brivu commented on #176
Hey @laurent-leconte!

Great catch. Thanks for the nice details. I'm taking a look at this now and should have a release ready by Friday.

Thanks again!
Brian

[2022-08-11 20:58] #132 closed

[2022-08-11 21:23] brivu commented on #174
@kassyuz,

I'll have a new release ready by tomorrow!

Best,
Brian

[2022-08-12 00:40] #176 closed

[2022-08-12 05:04] brivu commented on #159
Hey @geoL86,

According to the `AWS` Documentation that you sent me, the `--deployment-configuration` can be passed in with shorthand syntax like below:

[code]

Let me know if that's what you had in mind. I'll go ahead and work on adding this parameter for an upcoming release.

Thank you!
Best,
Brian

[2022-08-12 06:01] brivu commented on #159
Hey @geoL86,

I took a deeper look and realized that you wanted to add this parameter to `Blue/Green Deployments` with the `update-service` command. In order to do so, the command used with `Blue/Green` is [ `aws deploy create-deployment`](https://docs.aws.amazon.com/cli/latest/reference/deploy/create-deployment.html) but the article that you sent uses the `aws ecs update-service` command.

I'm as

[2022-08-12 17:41] #159 closed

[2022-08-12 17:51] geoL86 commented on #159
Hi @brivu ,

Yes, it is exactly what I described. Is already merged ... awesome...

[2022-08-12 23:38] brivu commented on #174
Hey @kassyuz,

I just cut a new release to include this fix: https://github.com/CircleCI-Public/aws-ecs-orb/releases/tag/v3.1.0

Hope that helps and let me know if there's anything else you need!

Best,
Brian

[2022-08-12 23:38] #174 closed

[2022-08-14 16:26] agustints opened #181 "Any way to handle DeploymentLimitExceededException?"
## What happened:

When running two workflows simultaneously, it fails because there is already one running, is there any way to avoid this and have it wait to do the second deployment?

`An error occurred (DeploymentLimitExceededException) when calling the CreateDeployment operation: The Deployment Group 'x' already has an active Deployment 'd-id-x'
Exited with code exit status 254
CircleCI recei

[2022-08-17 22:25] brivu commented on #181
Hey @agustints,

Can you send me your config so I can check it out? Generally speaking, we use the `requires` parameter for this use case. Check out this snippet below:

[code]

As you can see, `sam/deploy` is ran twice. However, because the second run has a `requires` parameter with `test_my_api` as its value, it will not run until the `test_my_api` job is complete. That's how we recommend doing

[2022-08-19 14:45] #123 closed

[2022-08-19 20:38] brivu commented on #181
Hey @agustints,

I'm going to go ahead a close this issue for now. If you still have trouble, please feel free to open it again!

Best ,
Brian

[2022-08-19 20:39] agustints commented on #181
I will share with you an example tomorrow

[2022-08-19 20:42] agustints commented on #181
The problem occurs when 2 merges are done at the same time and the same routine is executed 2 times at the same time, there the exception occurs.
At that point the first deployment will work and the second will fail because one is in progress. The idea would be to wait for the first one to finish and run the update service when there is no deployment in progress.

[2022-08-19 21:59] #119 closed

[2022-08-30 19:14] brivu commented on #181
Hey @agustints,

Just wanted to check in and see if you're able to figure this out. if you send me your config, I'd be happy to take a look.

Brian

[2022-09-01 22:22] #181 closed